<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /conferencia_despierta_upperroon/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /conferencia_despierta_upperroon/index.html [L]
</IfModule>
